<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag "http://www.comfortretrievers.com/wp-content/uploads/2011/04/miniature-golden-retriever-puppies-for-sale01.jpg " %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
